footer
  .container
      .brand
        a.logo(href="/")
          img(src="./assets/images/logo.png", alt="")
      .navigation 
        .column
          .block
            h3 SOCIALS
            ul.navigation-list 
              li
                a(href="https://wwwwww.linkedin.com/company/hunt-club-studio/") LinkedIn
              li
                a(href="https://www.instagram.com/huntclubstudio/") Instagram
              li 
                a(href="https://www.tiktok.com/@huntclubstudio") TikTok
          .block 
            h3 CONTACT 
            ul.navigation-list 
              li
                a(href="tel:+1-647-123-4567") Mobile
              li 
                a(href="mailto:huntclubstudio@gmail.com") Email
              li 
                a(href="#contact-form") Contact Form
        
        .column 
          .block 
            h3 SERVICES 
            ul.navigation-list 
              li
                a(href="#") Marketing Strategy
              li
                a(href="#") Brand &amp; Identity
              li
                a(href="#") Design
              li
                a(href="#") Full Stack Development
              li
                a(href="#") Copywriting
              li
                a(href="#") Video &amp; Photography
              li
                a(href="#") Motion Graphics
              li
                a(href="#") AI &amp; Tech Consulting

          




   