header
  div.container
    .menu-button#trigger-menu 
      img(src="./assets/images/menu-button.png", alt="")
    .navigation#navigation 
      ul 
        li.menu-item(data-active-page="home-page") 
          a(href="./") Home
        li.menu-item(data-active-page="about-us-page") 
          a(href="./about-us.html") About Us
        li.menu-item 
          a(href="#services") Work
        li.menu-item 
          a(href="#contact") Contact

      .logo
        img(src="./assets/images/menu-logo.png", alt="hunt-club")