header
  div.container
    .navigation#navigation 
      a(href="./").logo
        img(src="./assets/images/logo.png", alt="Back to Home")

      ul 
        li.menu-item(data-active-page="home-page", data-text="Home") 
          a(href="./") Home
        li.menu-item(data-active-page="about-us-page", data-text="About Us") 
          a(href="./about-us.html") About Us
        li.menu-item(data-active-page="work-page", data-text="Selected Works") 
          a(href="./work.html") Selected Works
        li.menu-item(data-text="Case Studies") 
          a(href="#contact") Case Studies

    //- .menu-button#trigger-menu 
    //-   img(src="./assets/images/menu-button.png", alt="")

    //- .logo-stamp
    //-   img(src="./assets/images/menu-logo.png", alt="hunt-club")
    
    a.contact Work With Us