header
  div.container
    a(href="./").logo
      img(src="./assets/images/logo.png" alt="Back to Home")

    .navigation#navigation 
      ul 
        li.menu-item(data-active-page="about-us-page" data-text="About Us") 
          a(href="./about-us.html") About Us
        li.menu-item(data-active-page="work-page" data-text="Selected Works") 
          a(href="./work.html") Selected Works
        li.menu-item(data-text="Case Studies") 
          a(href="#contact") Case Studies
      a(href="https://calendly.com/huntclubstudio" target="_blank").cta.cta-primary WORK WITH US

    .menu-button.cta#trigger-menu MENU
