section#descriptions {
  height: 200vh;
  padding: 19.6rem 0;
  background-image: url('../assets/images/bg-section-yellow.png');
  background-size: 100% 100vh;
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;

  &.bg-bottom {
    background-position-y: bottom;
  }

  &.parallax {
    background-attachment: fixed;
  }

  @include sectionBorderRadius();

  @include breakpoint($breakpoint-md) {
    padding: 10rem 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 10rem;
  }

  .row {
    display: flex;
    flex-direction: column;
    gap: 6.4rem;

    .icon {
      padding: 0 20px;
    }

    p {
      max-width: 990px;
      font-size: 5rem;
      line-height: 1.3;
      letter-spacing: -0.02em;

      @include breakpoint($breakpoint-md) {
        font-size: 3rem;
      }
    }

    @include breakpoint($breakpoint-md) {
      align-items: flex-start;
      gap: 2.5rem;
      p {
        width: 100%;
      }
    }

    opacity: 0;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
  }

  &:last-child {
    img {
      width: 72.39px;
    }
  }

  &:first-child {
    img {
      width: 72px;
    }
  }
}
