section#headline {
  background-color: var(--primary-color);
  padding: 15rem 0;

  .container {
    .section-title {
      max-width: 650px;
      margin-bottom: 4.4rem;

      @include breakpoint($breakpoint-sm) {
        font-size: 3.5rem;
        font-weight: 600;
        strong {
          font-weight: 600;
        }
      }
    }
  }
}
