section#key-words {
  padding: 0 0 21rem;

  .intro {
    max-width: 50rem;
    margin-bottom: 4.8rem;
  }

  .key-words {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;

    .word {
      font-size: 3rem;
      font-family: 'Averia';
      padding: 2rem 3.8rem;
      color: var(--white-color);
      border: 3px solid var(--white-color);
      border-radius: 999px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: var(--primary-color);
      }

      @include breakpoint($breakpoint-sm) {
        font-size: 2rem;
        padding: 1.6rem 2.8rem;
        border-width: 2px;
      }
    }
  }
}
