section#partners {
  background-color: var(--dark-color);
  padding: 6.6rem 0;

  .partner-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .partner {
      img {
        height: 100%;
      }

      &:first-child {
        height: 4rem;
      }

      &:nth-child(2) {
        height: 6rem;
      }

      &:nth-child(3) {
        height: 3rem;
      }

      &:nth-child(4) {
        height: 4rem;
      }

      &:nth-child(5) {
        height: 7.5rem;
      }

      &:nth-child(6) {
        height: 7rem;
      }
    }
  }
}
