.home-page {
  background-image: url('../assets/images/bg-new-home.png');
  background-size: 100% auto;
  background-position-x: center;

  @media only screen and (orientation: portrait) {
    background-image: url('../assets/images/bg-new-home-mb.png');
  }

  section {
    padding: 10rem 0;
    display: flex;
    width: 100%;

    .container {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  // -- Hero Section
  #hero {
    text-align: center;
    min-height: max(100vh, 760px);

    @include breakpoint($breakpoint-md) {
      text-align: left;
    }

    @include breakpoint($breakpoint-xs) {
      .section-title {
        font-size: 3.2rem;
      }
    }

    .container {
      align-items: center;
      justify-content: center;
      gap: 4rem;
    }
  }

  // -- Who We Are Section
  #who-we-are {
    min-height: 760px;
    background-color: rgba(0, 0, 0, 0.6);

    @include breakpoint($breakpoint-xs) {
      .section-title {
        font-size: 3.2rem;
      }
    }

    .container {
      gap: 5.5rem;
    }

    .row {
      justify-content: space-between;
      max-width: 90rem;

      @include breakpoint($breakpoint-md) {
        flex-direction: column;
        gap: 4rem;
      }

      .col {
        max-width: 40rem;
      }

      p {
        text-wrap: pretty;
      }
    }
  }

  // -- Our Services Section
  #our-services {
    .container {
      gap: 7rem
    }

    .row {
      justify-content: center;
    }

    .section-title {

      .line {
        display: block;
        position: relative;
        width: fit-content;
      }

      .text,
      .fix {
        display: block;
        max-width: 85rem;
        margin-left: 4rem;


      }

      .text {
        top: 0;
        left: 0;
        text-wrap: nowrap;
        width: fit-content;
        position: absolute;
        transition: margin-left 0.3s ease;

        &:hover {
          margin-left: 0;
          font-style: italic;
          color: var(--primary-color);
        }
      }

      .fix {
        margin-left: 0;
        opacity: 0;
      }

      @include breakpoint($breakpoint-md) {
        font-size: 4rem;
      }

      @include breakpoint($breakpoint-sm) {
        font-size: 2.8rem;
        width: 100%;

        .fix,
        .text {
          max-width: none;
          margin-left: 0;
        }
      }

    }
  }

  // -- Our Process Section
  #our-process {
    padding: 200px 0 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;

    &.sticky {
      .sticky-wrapper {
        position: fixed;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
      }
    }

    &.content-bottom {
      justify-content: flex-end;
    }

    .processes-wrapper {
      position: relative;

      &::before {
        content: '';
        display: block;
        position: absolute;
        inset: 0;
      }
    }

    .processes {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      gap: 10rem;
      padding: 6rem 10rem 10rem;

      @include breakpoint($breakpoint-sm) {
        gap: 4rem;
        padding: 4rem 2rem 6rem;
      }

      // Customize scrollbar with Webkit
      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar {
        width: 22px;
      }

      &::-webkit-scrollbar-thumb {
        background: #F6AE23;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #F6AE23;
      }

      .step {
        flex-shrink: 0;
        display: flex;
        gap: 10rem;

        .step-number {
          font-size: 6rem;
        }

        .step-title {
          font-weight: 800;
          font-size: 6rem;
          margin-bottom: 4rem;
        }

        .text-body-sm {
          font-size: 2.3rem;
          line-height: 1.8;
          max-width: 60rem;
          text-wrap: pretty;
        }

        &:first-child {
          .text-body-sm {
            max-width: min(100%, 47rem);
            margin-bottom: 4rem;
          }
        }

        .cta {
          position: relative;
          z-index: 2;
        }

        @include breakpoint($breakpoint-md) {
          gap: 2.8rem;
          width: calc(100vw - 4rem);

          .step-number {
            font-size: 2.8rem;
          }

          .step-title {
            font-size: 2.8rem;
            margin-bottom: 2rem;
          }

          .text-body-sm {
            font-size: 1.8rem;
          }
        }
      }
    }
  }


}