section#hero {
  // background-image: url('../assets/images/bg-home-hero.png');

  .container {
    min-height: $min-height-hero;
    display: flex;
    flex-direction: column;
  }

  .content-wrapper {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;

    @include breakpoint($breakpoint-md) {
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
      align-items: flex-start;
    }
  }

  .section-title {
    max-width: 550px;
  }

  .intro {
    opacity: 0;
    filter: blur(4px);
    animation: fade-in 3.5s ease-in-out forwards;
  }

  .address {
    font-size: 2rem;
    font-weight: 300;
    .text-curved {
      font-size: 3rem;
    }
  }

  .scroll-down-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
}
