section#services {
  padding: 32rem 0;

  @include breakpoint($breakpoint-sm) {
    padding: 10rem 0;
  }

  .container {
    display: flex;

    @include breakpoint($breakpoint-md) {
      flex-direction: column;
      gap: 6.5rem;
    }
  }

  .cta {
    margin-bottom: 4.5rem;
  }

  .heading {
    width: 40%;
    @include breakpoint($breakpoint-md) {
      width: 100%;
    }
  }

  .accordions {
    width: 60%;
    display: flex;
    gap: 5.4rem;

    @include breakpoint($breakpoint-md) {
      width: 100%;
    }

    @include breakpoint($breakpoint-sm) {
      gap: 0;
      flex-direction: column;
    }

    .accordion-group {
      flex: 1;
    }

    .accordion-title {
      font-family: 'Averia';
      font-size: 2.8rem;
      line-height: 2.5;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      border-bottom: 1px solid var(--white-color);
      margin-bottom: 2.8rem;
    }

    .accordion-content {
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows 0.3s ease;

      .content {
        overflow: hidden;
      }

      p {
        padding-bottom: 3rem;
      }
    }

    .accordion.expanded {
      .accordion-content {
        grid-template-rows: 1fr;
      }
    }
  }
}
