.work-page {
  --category-color: #938383;

  background-color: #070707;
  background-image: url('../assets/images/bg-section-orange-3.png');
  background-size: 100% auto;
  background-repeat: no-repeat;

  header {
    .logo {
      display: block;
    }
  }

  .container {
    max-width: 1525px;
  }

  #contact-form {
    background: none;
  }

  section.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20rem 0;
  }

  #our-work {
    padding-bottom: 10rem;

    .block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // width: 100%;
      // aspect-ratio: 1;
      width: 100vh;
      margin: 0 auto 16rem;

      @include breakpoint($breakpoint-md) {
        width: 100%;
        aspect-ratio: unset;
        margin-bottom: 6rem;
      }
    }

    .thumb {
      position: relative;

      &::after {
        content: 'Website & Branding';
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        top: 0;
        right: 0;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: absolute;
        font-size: 1.3rem;
        font-weight: bold;
        transform: translate(50px, -80px);

        @include breakpoint($breakpoint-md) {
          width: 120px;
          height: 120px;
          font-size: 1rem;
          transform: translate(16px, -65px);
        }

        @include breakpoint($breakpoint-sm) {
          width: 100px;
          height: 100px;
          font-size: 0.8rem;
          transform: translate(16px, -50px);
        }
      }
    }

    .content {
      margin-top: 2rem;
      letter-spacing: -0.04em;

      .title {
        font-size: 5rem;
        line-height: 5rem;
        margin-bottom: 1rem;
      }

      .description {
        font-size: 3rem;
        line-height: 6rem;
      }

      .category {
        font-size: 2.5rem;
        line-height: 3rem;
        color: var(--category-color);
      }

      @include breakpoint($breakpoint-md) {
        margin-top: 3rem;

        .title {
          font-size: 4rem;
          line-height: 4rem;
          margin-bottom: 1rem;
        }

        .description {
          font-size: 3rem;
          line-height: 4rem;
        }

        .category {
          font-size: 2rem;
          line-height: 4rem;
        }
      }

      @include breakpoint($breakpoint-sm) {
        margin-top: 2rem;

        .title {
          font-size: 3rem;
          line-height: 3rem;
          margin-bottom: 1rem;
        }

        .description {
          font-size: 2rem;
          line-height: 3rem;
        }

        .category {
          font-size: 1.5rem;
          line-height: 3rem;
        }
      }
    }
  }
}