extends ./pages/layout/_layout.jade

mixin chevronIcon
  img(src="./assets/images/icon-chevron-down.png" alt="")

mixin partners 
  - list = ['logo-shopley', 'logo-flairairlines', 'logo-newspark', 'logo-desjardins', 'logo-ocad', 'logo-gocxm', 'logo-ibogaine', 'logo-manulife', 'logo-sap', 'logo-twb']
  each partner in list
    .partner
      img(src='./assets/images/' + partner + '.png' alt="") 

block variables
  - var bodyClass = "about-us-page"

block content
  section#about-hero(data-scroll-section)
    .container 
      .content-wrapper
        .col
          .logo
            img(src="./assets/images/logo.png" alt="hunt-club")
          p.text-body-sm Traditional agencies are costly, and managing freelancers is often chaotic. We offer a streamlined, efficient solution to keep your vision on track.

          a.cta.cta-green LET'S TALK

        .intro
          h2.section-title(data-aos="fade-up")
            strong(data-aos="fade-up") We are a 
            br 
            span(data-aos="fade-up" data-aos-delay="200") Close-Knit, 
            br 
            strong(data-aos="fade-up" data-aos-delay="400") Well Oiled,
            br 
            span(data-aos="fade-up" data-aos-delay="600") Multi-Dimensional,
            br 
            strong(data-aos="fade-up" data-aos-delay="800") Future Forward,
            br 
            span(data-aos="fade-up" data-aos-delay="1000") Results Oriented,
            br 
            strong(data-aos="fade-up" data-aos-delay="1200") Creative Machine.


  section#partners(data-scroll-section)
    .container 
      .partner-list 
        +partners

      .partner-marquee-container
        .marquee.marquee-part-1
          +partners
        //- .marquee.marquee-part-2
        //-   +partners
        //- .marquee.marquee-part-3
        //-   +partners
        //- .marquee.marquee-part-4
        //-   +partners

  section#problem-solved(data-scroll-section)
    .container 
      h2.section-title 
        em PROBLEMS, 
        | SOLVED. 
      p.text-body-sm  We bring an artful eye and pragmatic approach  to every project and  believe there is no concept too complex or grandiose that we can’t find a solution for.


  section#key-words(data-scroll-section)
    .container 
      p.intro With over 10 years of working together, we have worked on a myriad of projects in these worlds:

      .key-words 
        - list = ["Tech", "Art &Film", "Finance", "Non-Profit", "Animation", "Mergers & Acquisitions", "B2B", "B2C", "Fashion", "Startup", "VFX", "SaaS", "Crypto", "Data"]
        each word in list
          .word= word 


  //- Section Our Location
  section#our-location(data-scroll-section)
    .container 
      .section-tag WE ARE BASED OUT OF
      .content.row
        h2.section-title toronto,
          em SàiGòn 
          | &amp; 
          span outerspace

        .description
          p.text-body-sm Yes, the time difference means we work around the clock. Yes, we can get that job you needed done last week, 
            strong pronto!
          a.cta.cta-green LET’S TALK

  include ./sections/_case_studies.jade

  include ./sections/_contact-form.jade



