extends ./pages/layout/_layout.jade

block variables
  - var bodyClass = "case-studies-page"

block content
  section(data-scroll-section)#cs-hero
    .container
      .wrapper 
        .cs-logo 
          img(src="./assets/images/cs-logo-on-the-line.png" alt="Logo" style="aspect-ratio: 292/179")
        .cs-intro(style="max-width: 57rem") On the Line Media, led by award-winning journalist Samira Mohyeddin, offers poignant podcasts, interviews, and conversations. As an independent journalist, Samira strives to provide context and highlight significant global events through her insightful lens.

  section(data-scroll-section).design 
    .wrapper
      figure.full-width
        img(src="./assets/images/cs-otl-img-1.png" alt="" style="aspect-ratio: 1439/639")

  section(data-scroll-section)#introduction 
    .container 
      .wrapper 
        p.introduction We champion independent media and support journalists who bring nuanced, unfiltered reporting to the forefront. In a time when real conversations and on-the-ground perspectives are more important than ever, we help independent voices share stories that matter.
        .keywords-block
          .title Service
          ul.keywords
            li Identity
            li Graphic Design
            li Creative Production
            li Video Editing
            li Tech Consultation
            li Photography

  section(data-scroll-section).design
    .wrapper.wrapper-between
      figure.space-left
        img(src="./assets/images/cs-otl-img-2.png" alt="" style="aspect-ratio: 457/409")
      figure
        img(src="./assets/images/cs-otl-img-3.png" alt="" style="aspect-ratio: 680/569")

  section(data-scroll-section).design 
    .container 
      .wrapper 
        figure
          img(src="./assets/images/cs-otl-img-4.png" alt="" style="aspect-ratio: 1159/731")

  section(data-scroll-section).design 
    .wrapper 
      figure.full-width
        img(src="./assets/images/cs-otl-img-5.png" alt="" style="aspect-ratio: 1439/271")

  section(data-scroll-section).design#cs-otl-7th
    .container
      .wrapper.wrapper-right.wrapper-relative
        img.otl-fly-1(src="./assets/images/cs-otl-img-6.png" alt="" style="aspect-ratio: 646/467")
        .group
          img(src="./assets/images/cs-otl-img-7.png" alt="" style="aspect-ratio: 811/608")
          .description
            p(style="max-width: 70rem;") Running a mini media conglomerate involves navigating many moving parts, and it’s never a one-size-fits-all situation. For OTL Media, we create a pipeline that ensures all technical aspects from recording to post production flow efficiently across all channels.

  section(data-scroll-section).design 
    .container 
      .wrapper
        img(src="./assets/images/cs-otl-img-8.png" alt="" style="aspect-ratio: 1170/454")
      .wrapper.wrapper-left.description
        p(style="max-width: 70rem;") We created assets such as photography, title cards, motion graphics, infographics, for ongoing journalism projects at On the Line Media

  section(data-scroll-section).design 
    .wrapper 
      figure.full-width
        img(src="./assets/images/cs-otl-img-10.png" alt="" style="aspect-ratio: 1439/699")

  section(data-scroll-section).design#cs-otl-10th 
    .wrapper.wrapper-right 
      .group
        figure.mb-8
          img(src="./assets/images/cs-otl-img-9.png" alt="" style="aspect-ratio: 720/496")
        p It’s important to know how to run your mini media conglomerate. Theres a lot of moving parts and its not a one size fits all situation.  We have you covered in terms of whats the best set up for your needs, setting it up - guiding you through. Or better yet, leave it to our team to handle for you.

  include ./sections/_case_studies.jade


