extends ./pages/layout/_layout.jade

block variables
  - var bodyClass = "case-studies-page"

block content
  section(data-scroll-section)#cs-hero
    .container
      .wrapper 
        .cs-logo 
          img(src="./assets/images/cs-logo-wealthy-barber.png" alt="Logo" style="aspect-ratio: 314/173")
        .cs-intro(style="max-width: 57rem") The Wealthy Barber creates approachable, entertaining and free personal-finance content to help Canadians manage their money better. Through entertaining and approachable teachings, Dave has demystified the world of personal finance for over 35 years. 

  section(data-scroll-section).design
    .wrapper.wrapper-no-gap
      figure.full-width
        img(src="./assets/images/cs-wb-img-1.png" alt="" style="aspect-ratio: 1440/988")

  section(data-scroll-section)#introduction 
    .container 
      .wrapper 
        p.introduction We set out to create a thoughtful design system that is adaptive to “The Wealthy Barber” and its evolving needs. It's an incorporation of intuitive layouts,  stylish subtleties, and spaciousness; designed with user comprehension and learning in mind. 
        .keywords-block
          .title Service
          ul.keywords
            li Creative Production
            li Art Direction
            li Web Design
            li Web Development

  section(data-scroll-section).design
    .wrapper
      figure.full-width
        img(src="./assets/images/cs-wb-img-2.png" alt="" style="aspect-ratio: 1440/771")

  section(data-scroll-section).design 
    .wrapper.wrapper-between 
      figure
        img(src="./assets/images/cs-wb-img-3.png" alt="" style="aspect-ratio: 849/567")
      .wrapper
        p(style="max-width: 43rem") Former Dragon on CBC’s “Dragons’ Den” and best-selling author of “The Wealthy Barber” and “The Wealthy Barber Returns,” David Chilton has helped millions of Canadians to better manage their money. 

  section(data-scroll-section).design#cs-wb-6th 
    .container(data-scroll data-scroll-id="scroll-highlight-effect" style="max-width: 117rem;")
      .wrapper.wrapper-between
        p.scroll-highlight-by-word
          span Each 
          span component 
          span we 
          span created 
          span was 
          span thoughtfully 
          span curated 
          span to 
          span prioritize 
          span usability, 
          span clarity, 
          span and 
          span confident 
          span style. 
        figure
          img(src="./assets/images/cs-wb-img-4.png" alt="" style="aspect-ratio: 341/397")

  section(data-scroll-section).design#cs-wb-7th 
    .wrapper.wrapper-right 
      .group(style="max-width: 100rem;") 
        img(src="./assets/images/cs-wb-img-5.png" alt="" style="aspect-ratio: 1129/510").mb-8

  section(data-scroll-section).design
    .wrapper
      figure.full-width
        img(src="./assets/images/cs-wb-img-6.png" alt="" style="aspect-ratio: 1431/485")

  section(data-scroll-section).design#cs-wb-9th  
    .container 
      .wrapper
        .group(style="max-width: 60rem;")
          p.heading Logo Design
          p Prioritizing scalability and modernity, we interpreted the ‘barber pole’ by stripping back the details. What remains is a bold, strong, yet whimsical emblem.  The expressive wavy form gives  movement to the ‘barber pole’ stripes - the upward direction lending to the aspirational feel we are looking to instill in the brand. We stuck with a serifed font - instantly recognized as astute & professional.
        .wrapper
          figure(style="max-width: 18rem;")
            img(src="./assets/images/cs-wb-img-8.png" alt="" style="aspect-ratio: 368/636")

  section(data-scroll-section).design#cs-wb-10th
    .container
      .wrapper
        .group(style="max-width: 90rem;")
          img(src="./assets/images/cs-wb-img-7.png" alt="" style="aspect-ratio: 1746/616").mb-4
          h2.mb-4 Colour Pallet
          p.mb-8 “The Wealthy Barber” colour scheme needed an update from the traditional barber pole red and blue, we went for tones that felt sophisticated, approachable and would appeal to a wide range of demographics. 

  include ./sections/_case_studies.jade
