extends ./pages/layout/_layout.jade

block variables
  - var bodyClass = "case-studies-page"

block content
  section#cs-hero
    .container
      .wrapper 
        .cs-logo 
          img(src="./assets/images/cs-logo-on-the-line.png" alt="Logo")
        .cs-intro(style="max-width: 57rem") On the Line Media, led by award-winning journalist Samira Mohyeddin, offers poignant podcasts, interviews, and conversations. As an independent journalist, Samira strives to provide context and highlight significant global events through her insightful lens.

  section#figures 
    .wrapper
      figure
        img(src="./assets/images/cs-otl-img-1.png" alt="")

  section#introduction 
    .container 
      .wrapper 
        p.introduction We champion independent media, providing a dedicated production team for independent journalists. In an era where nuance and connecting with people are crucial, we craft the systems and design elements that bring journalistic stories to life,
        .keywords-block
          .title Service
          ul.keywords
            li Identity
            li Graphic Design
            li Creative Production
            li Video Editing
            li Tech Consultation
            li Photography

  section.design
    .wrapper.wrapper-between
      figure.space-left
        img(src="./assets/images/cs-otl-img-2.png" alt="")
      figure
        img(src="./assets/images/cs-otl-img-3.png" alt="")

  section.design 
    .container 
      .wrapper 
        figure
          img(src="./assets/images/cs-otl-img-4.png" alt="")

  section.design 
    .wrapper 
      figure.full-width
        img(src="./assets/images/cs-otl-img-5.png" alt="")

  section.design 
    .wrapper.wrapper-right.wrapper-relative
      img.otl-fly-1(src="./assets/images/cs-otl-img-6.png" alt="")
      .group
        img(src="./assets/images/cs-otl-img-7.png" alt="")
        .description
          p(style="max-width: 70rem;") Running a mini media conglomerate involves navigating many moving parts, and it’s never a one-size-fits-all situation. For OTL Media, we create a pipeline that ensures all technical aspects from recording to post production flow efficiently across all channels.

  section.design 
    .container 
      .wrapper
        img(src="./assets/images/cs-otl-img-8.png" alt="")
      .wrapper.wrapper-left.description
        p(style="max-width: 70rem;") We created assets such as photography, title cards, motion graphics, infographics, for ongoing journalism projects at On the Line Media

  section.design 
    .wrapper 
      figure.full-width
        img(src="./assets/images/cs-otl-img-10.png" alt="")

  section.design 
    .wrapper.wrapper-right 
      figure
        img(src="./assets/images/cs-otl-img-9.png" alt="")
