extends ./pages/layout/_layout.jade

block variables
  - var bodyClass = "case-studies-page"

block content
  section#cs-hero
    .container
      .wrapper 
        .cs-logo 
          img(src="./assets/images/cs-logo-sap.png" alt="Logo")
        .cs-intro(style="max-width: 57rem") SAP Sports One provides digital solutions to help sports clubs and associations run at their best. With tools for each major club department, SAP Sports One assists clubs and associations with planning, communication, capturing information, and data-driven decision-making.

  section#cs-sap-2nd 
    .wrapper
      figure
        img(src="./assets/images/cs-sap-img-1.png" alt="")
      figure
        img(src="./assets/images/cs-sap-img-2.png" alt="")
      figure
        img(src="./assets/images/cs-sap-img-3.png" alt="")

  section#introduction 
    .container 
      .wrapper 
        p.introduction Knowing we were  pitching to iconic clubs like the 
          strong New York Yankees 
          | and 
          strong Manchester United 
          |, we set out to create content that would leave a smashing impression at trade shows or high-stakes meetings. 
        .keywords-block
          .title Brief
          ul.keywords
            li Identity
            li Infographics
            li Pitch Deck 
            li Marketing Materials
            li Copywriting

  section.design
    .container 
      .wrapper.wrapper-figure-center 
        img(src="./assets/images/cs-sap-img-4.png" alt="")
        img(src="./assets/images/cs-sap-img-5.png" alt="")
        img(src="./assets/images/cs-sap-img-6.png" alt="")
      .wrapper.wrapper-right.description
        p(style="max-width: 70rem;") Tailored for sports marketers as the audience, our designs and infographics succinctly convey SAP's product benefits and outcomes.  We created a comprehensive system of iconography, typography, imagery, and color palettes to effectively convey SAP's offerings.  The products are inherently complex, requiring sales materials that effectively communicate their intricacies while staying on brand throughout.

  section.design 
    .container 
      .wrapper(style="gap: 14rem;") 
        figure
          img(src="./assets/images/cs-sap-img-7.png" alt="")
        figure
          img(src="./assets/images/cs-sap-img-8.png" alt="")

  section.design 
    .container 
      .wrapper 
        figure
          img(src="./assets/images/cs-sap-img-9.png" alt="")

  section.design 
    .container 
      .wrapper.wrapper-between
        img(src="./assets/images/cs-sap-img-9_5.png" alt="" style="max-width:50rem")
        p(style="max-width: 70rem;") SAP is a purveyor of top-tier SAAS products, so  getting to know their offerings inside-out was a masterclass in the future of Data Driven CX.  As marketers, we learned so much.  As die-hard sports fans, it was just a blast to work with sports motifs throughout the visual language.

  section.design 
    .container 
      .wrapper 
        figure
          img(src="./assets/images/cs-sap-img-10.png" alt="")
        figure
          img(src="./assets/images/cs-sap-img-11.png" alt="")

  section.design 
    .container 
      .wrapper 
        figure
          img(src="./assets/images/cs-sap-img-12.png" alt="")

  section.design 
    .container 
      .wrapper 
        figure
          img(src="./assets/images/cs-sap-img-13.png" alt="")
