extends ./pages/layout/_layout.jade

block variables
  - var bodyClass = "case-studies-page"

block content
  section#cs-hero
    .container
      .wrapper 
        .cs-logo 
          img(src="./assets/images/cs-logo-see-sound.png" alt="Logo")
        .cs-intro(style="max-width: 57rem") SEESOUND is a premium Vietnamese coffee company based in Toronto, Canada. They offer sustainably grown and ethically sourced beans from family-owned farms in Buôn Mê Thuột, Dak Lak. 

  section.design#cs-ss-2nd
    .wrapper.wrapper-no-gap
      figure.full-width
        img(src="./assets/images/cs-ss-img-1.png" alt="")
      figure.full-width
        img(src="./assets/images/cs-ss-img-2.png" alt="")

  section#introduction 
    .container 
      .wrapper 
        p.introduction Recognizing the need to stand out in a competitive market, we aimed to create a unique brand identity that highlights the coffee’s premium quality and connects with coffee enthusiasts worldwide.
        .keywords-block
          .title Service
          ul.keywords
            li Identity
            li Graphic Design
            li Packaging Design
            li Creative Production
            li Digital Marketing
            li Video Editing
            li Photography

  //- section.design
  //-   .wrapper.wrapper-between.wrapper-bottom
  //-     figure(style="flex: 1;")
  //-       img(src="./assets/images/cs-ss-img-3.png" alt="")
  //-     .group(style="flex: 1;")  
  //-       figure
  //-         img(src="./assets/images/cs-ss-img-4.png" alt="")
  //-       p(style="padding: 3rem 0;") Aliquam sodales velit eget quam gravida, id lobortis elit posuere. Proin cursus urna aliquam eros tincidunt, vel congue risus maximus. Etiam quam tortor, placerat sit amet ex ac, efficitur bibendum est.

  section.design#cs-ss-4th
    .container 
      .wrapper 
        figure.left
          img(src="./assets/images/cs-ss-img-3.png" alt="")
        .group
          figure
            img(src="./assets/images/cs-ss-img-4.png" alt="")
          p Aliquam sodales velit eget quam gravida, id lobortis elit posuere. Proin cursus urna aliquam eros tincidunt, vel congue risus maximus. Etiam quam tortor, placerat sit amet ex ac, efficitur bibendum est.

  section.design 
    .wrapper 
      figure.full-width
        img(src="./assets/images/cs-ss-img-10.png" alt="")

  section.design 
    .container 
      .wrapper 
        .group 
          p Aliquam sodales velit eget quam gravida, id lobortis elit posuere. Proin cursus urna aliquam eros tincidunt, vel congue risus maximus. Etiam quam tortor, placerat sit amet ex ac, efficitur bibendum est.
          p Aliquam sodales velit eget quam gravida, id lobortis elit posuere. Proin cursus urna aliquam eros tincidunt, vel congue risus maximus. Etiam quam tortor, placerat sit amet ex ac, efficitur bibendum est.
        figure 
          img(src="./assets/images/cs-ss-img-11.png" alt="")

  section.design 
    .container 
      .wrapper 
        figure
          img(src="./assets/images/cs-ss-img-5.png" alt="")

  section.design#cs-ss-8th 
    .container
      .wrapper 
        figure
          img(src="./assets/images/cs-ss-img-6.png" alt="")
        figure
          img(src="./assets/images/cs-ss-img-7.png" alt="")
        figure
          img(src="./assets/images/cs-ss-img-8.png" alt="")

  section.design 
    .container 
      .wrapper
        img(src="./assets/images/cs-ss-img-9.png" alt="")

  include ./sections/_case_studies.jade
