extends ./pages/layout/_layout.jade

block variables
  - var bodyClass = "case-studies-page"

block content
  section#cs-hero
    .container
      .wrapper 
        .cs-logo 
          img(src="./assets/images/cs-logo-see-sound.png" alt="Logo")
        .cs-intro(style="max-width: 57rem") SEESOUND is a premium Vietnamese coffee company based in Toronto, Canada. They offer sustainably grown and ethically sourced beans from family-owned farms in Buôn Mê Thuột, Dak Lak. 

  section.design#cs-ss-2nd
    .wrapper.wrapper-no-gap
      figure.full-width
        img(src="./assets/images/cs-ss-img-1.png" alt="")
      figure.full-width
        img(src="./assets/images/cs-ss-img-2.png" alt="")

  section#introduction 
    .container 
      .wrapper 
        p.introduction Recognizing the need to stand out in a competitive market, we aimed to create a unique brand identity that highlights the coffee’s premium quality and connects with coffee enthusiasts worldwide.
        .keywords-block
          .title Service
          ul.keywords
            li Identity
            li Graphic Design
            li Packaging Design
            li Creative Production
            li Digital Marketing
            li Video Editing
            li Photography

  //- section.design
  //-   .wrapper.wrapper-between.wrapper-bottom
  //-     figure(style="flex: 1;")
  //-       img(src="./assets/images/cs-ss-img-3.png" alt="")
  //-     .group(style="flex: 1;")  
  //-       figure
  //-         img(src="./assets/images/cs-ss-img-4.png" alt="")
  //-       p(style="padding: 3rem 0;") Aliquam sodales velit eget quam gravida, id lobortis elit posuere. Proin cursus urna aliquam eros tincidunt, vel congue risus maximus. Etiam quam tortor, placerat sit amet ex ac, efficitur bibendum est.

  section.design#cs-ss-3_1th 
    .container 
      .wrapper.wrapper-between 
        .group 
          h2 syn·es·the·sia

          .group-lv1
            p.noun noun
            p.small Experiencing some things in a different way from most other people, for example experiencing colours as sounds, experiencing shapes as tastes, or feeling something in one part of the body when a different part is stimulated.

          .group-lv1 
            p The name SEESOUND is a play off the concept of synesthesia, a bizarre overlap of sensations. 
            p We highlighted this concept by creating  multi-sensory visuals that take the audience on a journey from the serene naturescapes of Dak Lak to the electrifying streets of Saigon.

        figure 
          video(src="./assets/videos/video-ss.mov" autoplay loop muted playsinline)

  section.design#cs-ss-4th
    .container 
      .wrapper 
        figure.left
          img(src="./assets/images/cs-ss-img-3.png" alt="")
        .group
          figure
            img(src="./assets/images/cs-ss-img-4.png" alt="")
          p Aliquam sodales velit eget quam gravida, id lobortis elit posuere. Proin cursus urna aliquam eros tincidunt, vel congue risus maximus. Etiam quam tortor, placerat sit amet ex ac, efficitur bibendum est.

  section.design 
    .wrapper 
      figure.full-width
        img(src="./assets/images/cs-ss-img-10.png" alt="")

  section.design#cs-ss-6th 
    .container 
      .wrapper.wrapper-between  
        .group 
          h2 Digital Marketing

          p Along with packaging design and brand identity, SEESOUND needed to grow it’s presence online through digital marketing. We approached their marketing assets with a playful tone to reflect the zen but zany personality of the brand. 
          .group-lv1 
            p.list-title MARKETING SERVICES
            ul 
              li Brand videos 
              li Social media videos & posts
              li Digital advertising 
              li SEO management 
              li Email marketing campaigns 
              li Informational brochures 

        figure 
          video.portrait(src="./assets/videos/video-ss-2.mov" autoplay loop muted playsinline)

  section.design 
    .container 
      .wrapper 
        figure
          img(src="./assets/images/cs-ss-img-5.png" alt="")

  section.design#cs-ss-8th 
    .container
      .wrapper 
        figure
          img(src="./assets/images/cs-ss-img-6.png" alt="")
        figure
          img(src="./assets/images/cs-ss-img-7.png" alt="")
        figure
          img(src="./assets/images/cs-ss-img-8.png" alt="")

  section.design 
    .container 
      .wrapper
        img(src="./assets/images/cs-ss-img-9.png" alt="")

  include ./sections/_case_studies.jade
