extends ./pages/layout/_layout.jade

block variables
  - var bodyClass = "case-studies-page"

block content
  section#cs-hero
    .container
      .wrapper 
        .cs-logo 
          img(src="./assets/images/cs-logo-bach-ma.png" alt="Logo")
        .cs-intro(style="max-width: 57rem") Aliquam sodales velit eget quam gravida, id lobortis elit posuere. Proin cursus urna aliquam eros tincidunt, vel congue risus maximus. Etiam quam tortor, placerat sit amet ex ac, efficitur bibendum est.

  section.design
    .wrapper.wrapper-no-gap
      figure.full-width
        img(src="./assets/images/cs-bm-img-1.png" alt="")

  section#introduction 
    .container 
      .wrapper 
        p.introduction We champion independent media, providing a dedicated production team for independent journalists. In an era where nuance and connecting with people are crucial, we craft the systems and design elements that bring journalistic stories to life,
        .keywords-block
          .title Service
          ul.keywords
            li Identity
            li Graphic Design
            li Creative Production
            li Video Editing
            li Tech Consultation
            li Photography

  section.design#cs-bm-4th
    .container
      .wrapper
        div.yt-wrapper
          iframe(src="https://www.youtube.com/embed/xC5J3rXhDb0?autoplay=1&mute=1" width="800" height="450" frameborder="0")

  section.design#cs-aw-4th
    .container
    .wrapper
      figure
        img(src="./assets/images/cs-bm-img-2.png" alt="")

  section.design#cs-otl-7th
    .container
      .wrapper.wrapper-right.wrapper-relative
        img.otl-fly-1(src="./assets/images/cs-otl-img-6.png" alt="")
        .group
          img(src="./assets/images/cs-otl-img-7.png" alt="")
          .description
            p(style="max-width: 70rem;") Running a mini media conglomerate involves navigating many moving parts, and it’s never a one-size-fits-all situation. For OTL Media, we create a pipeline that ensures all technical aspects from recording to post production flow efficiently across all channels.

  section.design 
    .container 
      .wrapper
        img(src="./assets/images/cs-otl-img-8.png" alt="")
      .wrapper.wrapper-left.description
        p(style="max-width: 70rem;") We created assets such as photography, title cards, motion graphics, infographics, for ongoing journalism projects at On the Line Media

  section.design 
    .wrapper 
      figure.full-width
        img(src="./assets/images/cs-otl-img-10.png" alt="")

  section.design#cs-otl-10th 
    .wrapper.wrapper-right 
      .group
        figure.mb-8
          img(src="./assets/images/cs-otl-img-9.png" alt="")

  include ./sections/_case_studies.jade
