extends ./pages/layout/_layout.jade

block variables
  - var bodyClass = "case-studies-page"

block content
  section#cs-hero(data-scroll-section)
    .container
      .wrapper 
        .cs-logo 
          img(src="./assets/images/cs-logo-a-wake.png" alt="Logo")
        .cs-intro(style="max-width: 57rem") Aliquam sodales velit eget quam gravida, id lobortis elit posuere. Proin cursus urna aliquam eros tincidunt, vel congue risus maximus. Etiam quam tortor, placerat sit amet ex ac, efficitur bibendum est.

  section.design(data-scroll-section)
    .wrapper.wrapper-no-gap
      figure.full-width
        img(src="./assets/images/cs-aw-img-1.png" alt="")

  section#introduction(data-scroll-section)
    .container 
      .wrapper 
        p.introduction Aliquam sodales velit eget quam gravida, id lobortis elit posuere. Proin cursus urna aliquam eros tincidunt, vel congue risus maximus. Etiam quam tortor, placerat sit amet ex ac, efficitur bibendum est.
        .keywords-block
          .title Service
          ul.keywords
            li Creative Production
            li Art Direction
            li Design

  section.spacing(data-scroll-section)
    .container &nbsp;

  section.design#cs-aw-4th(data-scroll-section)
    .wrapper.wrapper-right
      figure
        img(src="./assets/images/cs-aw-img-2.png" alt="")
      figure
        img(src="./assets/images/cs-aw-img-3.png" alt="")

  section.design(data-scroll-section)
    .wrapper.mb-8
      figure.full-width
        img(src="./assets/images/cs-aw-img-4.png" alt="")
    .container
      .wrapper.wrapper-left
        p(style="max-width: 70rem") Aliquam sodales velit eget quam gravida, id lobortis elit posuere. Proin cursus urna aliquam eros tincidunt, vel congue risus maximus. Etiam quam tortor, placerat sit amet ex ac, efficitur bibendum est.

  section.design(data-scroll-section)
    .wrapper.wrapper-right
      figure
        img(src="./assets/images/cs-aw-img-5.png" alt="")

  section.design#cs-aw-7th(data-scroll-section)
    .wrapper.wrapper-left 
      figure
        img(src="./assets/images/cs-aw-img-6.png" alt="")
      figure
        img(src="./assets/images/cs-aw-img-7.png" alt="")

  include ./sections/_case_studies.jade
