extends ./pages/layout/_layout.jade

mixin chevronIcon
  img(src="./assets/images/icon-chevron-down.png", alt="")

mixin accordion(title)
  .accordion(data-accordion) 
    .accordion-title 
      h4= title
      .icon
        +chevronIcon
    .accordion-content
      .content
        block

block variables
  - var bodyClass = "home-page"

block content
  section#hero
    div(data-bg-effect data-background="./assets/images/bg-home-hero.png", data-bg-parallax)
    .container 
      .content-wrapper
        .logo(data-aos="fade-up", data-aos-delay="2000")
          img(src="./assets/images/logo.png", alt="hunt-club")
        
        .intro
          h1.section-title We are a 
            strong Creative Production 
            | Studio
          
          p.address based in 
            span.text-curved Toronto, Saigon &amp; Outer Space 
          
          //- a(href="#descriptions").button.circle-button.scroll-down-button
          //-   +chevronIcon
  

  section#descriptions(data-scroll-speed="0.6")
    .container
      .row
        .icon(data-aos="fade-up")
          img(src="./assets/images/section-description-2.png", alt="")
        p(data-aos="fade-up", data-aos-delay="400") We are a 
          strong multi-disciplinary 
          | team  of producers, designers, strategists, developers, and artists. 
      .row
        .icon(data-aos="fade-up")
          img(src="./assets/images/section-description-1.png", alt="")
        p(data-aos="fade-up", data-aos-delay="400") We partner with 
          strong visionaries
          | , 
          strong founders
          | , and 
          strong c-suite 
          | teams focused on propelling their projects and products forward.  


  section#services 
    .container 
      .heading 
        button.outline-button.cta(data-aos="fade") OUR SERVICES
        h2.section-title(data-aos="fade-up") Full Stacked,
          br
          strong Full Service.
      .accordions
        .accordion-group 
          +accordion("Marketing Strategy")
            p
              - list = [ "Content Strategy", "Research", "Competitive Analysis", "Target Markets", "User Personas", "Multi-Channel", "E-Commerce", "Social Media", "Lead Generation", "Marketing Automation", "Campaign Management", "Messaging"]
              each item in list
                span= item
                br
          +accordion("Brand & Identity")
            p Crafting identities that resonate and endure, our branding service is about capturing the essence of your company and translating it into a visual and verbal language that speaks to your audience clearly, boldly, and beautifully
          +accordion("Design")
            p We delve deep into your brand's essence to create designs that resonate and engage. Our process is collaborative and iterative, ensuring that what we create reflects your vision and captivates your audience.
          +accordion("Art direction")
            p Art direction involves the strategic oversight and creative guidance of the visual elements in a project, ensuring that all aspects of the design and imagery work together cohesively to convey a specific message or feeling.
          +accordion("Full Stack Development")
            p Our full-stack development team encompasses both front-end and back-end developers to provide clients with a truly hands-off approach to creating digital solutions (or products). 
        .accordion-group 
          +accordion("Copywriting")
            p Excellent copywriting stands out in a noisy world of generic AI-written content. Which is why we focus on human-centred writing and messaging.  Balancing art and science to craft words in a way that connects, differentiates, persuades and adds value.
          +accordion("Video & Photography")
            p Visuals are not only captivating but also memorable. Original photography or a well-crafted video leaves a lasting impression, ensuring your brand remains in the audience's mind long after their initial encounter.
          +accordion("Motion Graphics")
            p Breathe life into your visual creations and capture the users’ imagination with motion graphics. From dynamic infographic to interactive website animation we got you covered.
          +accordion("AI & Tech Consulting")
            p You know the possibilities are endless when it comes to utilizing tech/AI to supercharge your business,  but you don’t know where to start? We’ll provide actionable strategies that helps you stay future-ready. 
          +accordion("Data Analytics")
            p Data Analytics transforms raw data into strategic insights, powering informed decision-making and unveiling opportunities for growth. We use sophisticated analytical tools to interpret trends, patterns, and behaviors, propelling your business towards data-driven success.


  section#headline 
    .container 
      h2.section-title(data-aos="short-fade-up") A Headline About Our 
        strong Manifestor 
        | In Short
      
      button.black-button.cta ABOUT US


  include ./pages/contact-form.jade
