extends ./pages/layout/_layout.jade

mixin chevronIcon
  img(src="./assets/images/icon-chevron-down.png" alt="")

mixin accordion(title)
  .accordion(data-accordion) 
    .accordion-title 
      h4= title
      .icon
        +chevronIcon
    .accordion-content
      .content
        block

block variables
  - var bodyClass = "home-page"

block content
  //- Section Hero
  section#hero
    .container 
      h1.section-title 
        em LEVEL UP 
        | YOUR BUSINESS AND SHOWCASE IT TO 
        em THE WORLD
      p.section-description We deliver all the content you need to supercharge your marketing.

  //- Section Who We Are
  section#who-we-are
    .container
      .section-tag WHO WE ARE
      h2.section-title WE ARE A CREATIVE PRODUCTION STUDIO

      .row 
        .col
          p.text-body-sm We are a multi-disciplinary team  of producers, designers, strategists, developers, and artists. 
        .col 
          p.text-body-sm We partner with visionaries, founders, and c-suite teams focused on propelling their business forward.  

  //- Section Our Services
  section#our-services
    .container
      .section-tag OUR SERVICES
      .row
        h2.section-title 
          span Brand &amp; Identity Marketing Strategy Content Creation
          span.highlight Design
          span Full Stack Development Copywriting Motion Graphics Video &amp; Photography 

  //- Section Our Process
  section#our-process
    .container
      .section-tag OUR PROCESS

    ul.processes 
      li.step 
        .step-number 01
        .step-content 
          h4.step-title Discovery
          p.text-body-sm Book an appointment to discuss your business needs and goals.
          a.cta SCHEDULE A CALL
      li.step 
        .step-number 02
        .step-content 
          h4.step-title Deep Dive
          p.text-body-sm We learn about your business inside out to create a customized marketing plan.
      li.step 
        .step-number 03
        .step-content 
          h4.step-title Execute
          p.text-body-sm We execute the plan with room for revisions. You can be as involved as you like; we value collaboration but are also adept at independently creating assets that fit your needs.
      li.step
        .step-number 04
        .step-content 
          h4.step-title Deliver
          p.text-body-sm Receive all the assets you need to make your business shine and turbo boost your marketing plan.
      li.step 
        .step-number ++
        .step-content 
          h4.step-title What’s Next?
          p.text-body-sm Need help managing your new assets? Our team offers social and marketing management services to ensure ongoing success.

  //- Section Our Location
  section#our-location
    .container 
      .section-tag WE ARE BASED OUT OF
      .content.row
        h2.section-title toronto,
          em SàiGòn 
          | &amp; 
          span outerspace

        .description
          p.text-body-sm Yes, the time difference means we work around the clock. Yes, we can get that job you needed done last week, 
            strong pronto!
          a.cta LET’S TALK

  //- Section Case Studies
  section#case-studies 
    .container
      .section-tag CASE STUDIES
      ul.case-studies
        li 
          .brand
            img(src="./assets/images/home-cs-1.png" alt="Case Study 1")
        li 
          .brand
            img(src="./assets/images/home-cs-2.png" alt="Case Study 2")
        li
          .brand
            img(src="./assets/images/home-cs-3.png" alt="Case Study 3")
        li
          .brand
            img(src="./assets/images/home-cs-4.png" alt="Case Study 4")
        li 
          .brand
            img(src="./assets/images/home-cs-5.png" alt="Case Study 5")
        li 
          .brand
            img(src="./assets/images/home-cs-6.png" alt="Case Study 6")

  include ./pages/contact-form.jade
