extends ./pages/layout/_layout.jade

block variables
  - var bodyClass = "work-page"

block content
  //- section.heading(data-scroll-section)
  //-   .container
  //-     h1.page-title Our work
  section#our-work(data-scroll-section)
    .container 
      .block
        h1.page-title Our work
        .thumb(data-scroll data-scroll-offset="300" data-scroll-call="anim-fade-in anim-id-121" anim-id="121")
          img(src="./assets/images/our-work-sharing-spaces.png" alt="")
        .content 
          h3.title(data-scroll data-scroll-call="anim-fade-in anim-id-122" anim-id="122" anim-delay="400") Sharing Spaces
          p.description(data-scroll data-scroll-call="anim-fade-in anim-id-123" anim-id="123" anim-delay="800") Agency, Management &amp; Production Company
          p.category(data-scroll data-scroll-call="anim-fade-in anim-id-124" anim-id="124" anim-delay="800") Web Design |  Responsive HTML, CSS &amp; Java Script | Content Curation | Writing &amp; Editing
      .block
        .thumb(data-scroll data-scroll-offset="300" data-scroll-call="anim-fade-in anim-id-125" anim-id="125")  
          img(src="./assets/images/our-work-gifts-foundation.png" alt="")
        .content 
          h3.title(data-scroll data-scroll-call="anim-fade-in anim-id-126" anim-id="126" anim-delay="400") GIFTS Foundation
          p.description(data-scroll data-scroll-call="anim-fade-in anim-id-127" anim-id="127" anim-delay="800") Nonprofit Charity Organization
          p.category(data-scroll data-scroll-call="anim-fade-in anim-id-128" anim-id="128" anim-delay="800") Web Design |  Responsive HTML, CSS &amp; Java Script | Content Curation | Writing &amp; Editing
      .block
        .thumb(data-scroll data-scroll-offset="300" data-scroll-call="anim-fade-in anim-id-129" anim-id="129")  
          img(src="./assets/images/our-work-cybrid.png" alt="")
        .content 
          h3.title(data-scroll data-scroll-call="anim-fade-in anim-id-130" anim-id="130" anim-delay="400") Cybrid
          p.description(data-scroll data-scroll-call="anim-fade-in anim-id-131" anim-id="131" anim-delay="800") Crypto &amp; Cyber Security
          p.category(data-scroll data-scroll-call="anim-fade-in anim-id-132" anim-id="132" anim-delay="800") Crypto &amp; Cyber Security
      .block
        .thumb(data-scroll data-scroll-offset="300" data-scroll-call="anim-fade-in anim-id-133" anim-id="133")  
          img(src="./assets/images/our-work-universall-bogaine.png" alt="")
        .content 
          h3.title(data-scroll data-scroll-call="anim-fade-in anim-id-134" anim-id="134" anim-delay="400") Universal Ibogaine
          p.description(data-scroll data-scroll-call="anim-fade-in anim-id-135" anim-id="135" anim-delay="800") Addiction Treatment Centres
          p.category(data-scroll data-scroll-call="anim-fade-in anim-id-136" anim-id="136" anim-delay="800") Web Design |  Responsive HTML, CSS &amp; Java Script | Content Curation | Writing &amp; Editing
      .block
        .thumb(data-scroll data-scroll-offset="300" data-scroll-call="anim-fade-in anim-id-137" anim-id="137")  
          img(src="./assets/images/our-work-paper-cut.png" alt="")
        .content 
          h3.title(data-scroll data-scroll-call="anim-fade-in anim-id-138" anim-id="138" anim-delay="400") Papercut
          p.description(data-scroll data-scroll-call="anim-fade-in anim-id-139" anim-id="139" anim-delay="800") Film Industry Accounting Software
          p.category(data-scroll data-scroll-call="anim-fade-in anim-id-140" anim-id="140" anim-delay="800") Branding &amp; Identity | UX Design | Investment Pitch Deck 
      .block
        .thumb(data-scroll data-scroll-offset="300" data-scroll-call="anim-fade-in anim-id-141" anim-id="141")  
          img(src="./assets/images/our-work-gr8-tables.png" alt="")
        .content 
          h3.title(data-scroll data-scroll-call="anim-fade-in anim-id-142" anim-id="142" anim-delay="400") Gr8tables
          p.description(data-scroll data-scroll-call="anim-fade-in anim-id-143" anim-id="143" anim-delay="800") Restaurant POS System
          p.category(data-scroll data-scroll-call="anim-fade-in anim-id-144" anim-id="144" anim-delay="800") Web Design | UX Design
      .block
        .thumb(data-scroll data-scroll-offset="300" data-scroll-call="anim-fade-in anim-id-145" anim-id="145")  
          img(src="./assets/images/our-work-everybody.png" alt="")
        .content 
          h3.title(data-scroll data-scroll-call="anim-fade-in anim-id-146" anim-id="146" anim-delay="400") Everybody
          p.description(data-scroll data-scroll-call="anim-fade-in anim-id-147" anim-id="147" anim-delay="800") Message Therapy Clinic
          p.category(data-scroll data-scroll-call="anim-fade-in anim-id-148" anim-id="148" anim-delay="800") Branding &amp; Identity | Social Media
      .block
        .thumb(data-scroll data-scroll-offset="300" data-scroll-call="anim-fade-in anim-id-149" anim-id="149")  
          img(src="./assets/images/our-work-aravalli.png" alt="")
        .content 
          h3.title(data-scroll data-scroll-call="anim-fade-in anim-id-150" anim-id="150" anim-delay="400") Aravalli
          p.description(data-scroll data-scroll-call="anim-fade-in anim-id-151" anim-id="151" anim-delay="800") Capital Management 
          p.category(data-scroll data-scroll-call="anim-fade-in anim-id-152" anim-id="152" anim-delay="800") Brand &amp; Identity | Pitch Deck | One-Pager | Informational Brochure
      .block
        .thumb(data-scroll data-scroll-offset="300" data-scroll-call="anim-fade-in anim-id-153" anim-id="153")  
          img(src="./assets/images/our-work-new-spark.png" alt="")
        .content 
          h3.title(data-scroll data-scroll-call="anim-fade-in anim-id-154" anim-id="154" anim-delay="400") New Spark.io
          p.description(data-scroll data-scroll-call="anim-fade-in anim-id-155" anim-id="155" anim-delay="800") Video Management Software
          p.category(data-scroll data-scroll-call="anim-fade-in anim-id-156" anim-id="156" anim-delay="800") Brand &amp; Identity | UX Design | Investment Pitch Deck 

  include ./sections/_contact-form.jade

